body {
  margin: 0;
  height: 100vh;
  background: #ffb6c1;
  overflow: hidden;
  font-family: 'Comic Sans MS', cursive;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  position: relative;
  z-index: 5;
}

.main-img {
  width: 260px;
  border-radius: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #b0005f;
}

button {
  background: #ff4f9a;
  border: none;
  padding: 12px 28px;
  margin: 10px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  position: relative;
}

button:hover {
  transform: scale(1.1);
}
